body {
      font-family: Arial, sans-serif;
      background: #020024;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      background: #EEAECA;;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      width: 300px;
    }
    input {
      width: 90%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    button {
      padding: 10px 15px;
      background: #007BFF;
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      border-radius: 20px;
      width: 100px;
    }
    button:hover {
      background: #0056b3;
    }
    #result {
      margin-top: 15px;
      font-weight: bold;
    }